.widgetDiv {
    width: 110px;
    height: 65px;
    border:1px solid rgba(0,0,0,0.15);
    transition: all 0.25s ease-out;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.publisherDiv {
    color:#D9DCD6;
}

.publisherDiv h6 {
    margin-bottom:0px;
    font-size: 0.75rem;
}
.articleDiv {
    color:#D9DCD6;
    font-size: 0.65em;
}
.selected {
    transition: all 0.2s ease-in;
    border:3px solid black;
    border-radius: 0.5rem;
    background-color: rgb(58, 124, 165,0.7);
    text-size-adjust: 110%;
}