.accordion-item {
    background-color: rgba(0,0,0,0);
}

.accordion-header {
    border:none;
}

.accordion-button {
    background-color: rgba(0,0,0,0) ;
    border:none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button .collapsed {
    background-color: #c8d3de;
}
.accordion-button:not(.collapsed) {
    background-color: #c8d3de;
}