.mainContainer {
    height:100vh;
    background: url('../assets/main_page_resized.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
}

.searchBar {
    /* background-color: rgba(105, 105, 105, 0.8); */
    color: whitesmoke;
}


.inputField {
    background-color: rgba(0,0,0,0);
    color: whitesmoke;
    border:none;
    border-bottom: 2px solid white;
}

.inputField:focus{
    background-color: inherit;
    color:inherit;
    outline: none;
}