.mainContainer {
    height:100vh;
    background: url('../assets/main_page_resized.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
}

.searchBar {
    width: 70%;
    margin: auto;
    background-color: rgba(105, 105, 105, 0.8);
}